//primary
$orange: hsl(26, 100%, 55%);
$pal-orange: hsl(25, 100%, 94%);

//secondary
$very-vark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$light-box-black: hsl(0, 0%, 50%);
