@import "../abstracts/color-variable";
@import "../abstracts/mixins";
@import "../abstracts/reset";

@mixin Links-styles {
  font-size: 12px;
  font-weight: bolder;

  &:hover {
    color: blue;
  }
}

@mixin input-common {
  width: 100%;
  margin: auto 0rem;
  padding: 0.5rem;
  text-indent: 2px;
  margin: 0.7rem auto;
  outline: none;
}
@mixin customized-input-div {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    @include input-common;
    width: 90%;
  }
}

.signUp {
  background: url("../../assets/background-sneakers.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 95vh;
  padding-top: 4rem;
  position: relative;

  @include general--flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  // &__logo {
  //   margin: 2rem auto;
  // }

  &__error {
    background: white;
    width: 50%;
    min-width: 350px;
    max-width: 400px;
    padding: 0.5rem;
    border-radius: 5px;
    border-left: 10px solid red;
    margin: 1.5rem auto;

    position: relative;
    display: inline-flex;

    &--icon {
      margin: auto 0.5rem auto 1rem;
      color: red;
    }

    &--text {
      margin: auto 1rem auto 0.5rem;
      align-self: flex-start;
      h3 {
        font-size: 15px;
        font-weight: bolder;
        text-transform: uppercase;
      }

      p {
        font-size: 12px;
        text-transform: lowercase;
        text-align: left;
      }
    }

    &--cancel {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      color: red;
      cursor: pointer;
    }
  }

  &-form {
    background: white;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    @include general--flex;
    flex-direction: column;

    width: 40%;
    min-width: 300px;
    // max-width: 350px;
    padding: 1rem;

    position: relative;

    &-displayName {
      @include general--flex;
      // justify-content: center;
      align-items: center;

      &__firstName {
        @include customized-input-div;
        width: 50%;
        margin-right: 0.4rem;

        &--icon {
          width: 10%;
          border: 1px solid black;
          text-align: center;
          padding: 0.55rem;
        }
      }

      &__lastName {
        @include customized-input-div;
        width: 50%;

        &--icon {
          width: 10%;
          border: 1px solid black;
          text-align: center;
          padding: 0.55rem;
        }
      }
    }

    &__email {
      @include customized-input-div;

      &--user {
        width: 10%;
        border: 1px solid black;
        text-align: center;
        padding: 0.55rem;
      }
    }
    &__password {
      @include customized-input-div;
      &--visible {
        position: absolute;
        top: 1.2rem;
        right: 0.5rem;
        cursor: pointer;
      }
      &--lock {
        width: 10%;
        border: 1px solid black;
        text-align: center;
        padding: 0.55rem;
        // border-radius: 5px;

        cursor: pointer;
      }
    }

    &__button {
      width: 100%;
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 5px;
      outline: none;
      border: none;
      color: white;
      text-transform: uppercase;
      font-weight: bolder;
      background: $orange;
    }

    &__demarcate {
      margin: 1rem auto;
      padding: 0.3rem;
      width: 100%;
      @include general--flex;
      justify-content: center;
      align-items: center;

      hr {
        width: 100%;
        font-weight: lighter;
      }
      p {
        margin: auto 0.5rem;
      }
    }

    &__options {
      width: 100%;
      @include general--flex;
      margin: 1rem auto;
      justify-content: space-between;

      &--forgot {
        @include Links-styles;
      }

      &--create {
        @include Links-styles;
      }
    }
  }
}

@include media-query-lg(500px) {
  .signUp-form {
    width: 90%;
  }
}
