@import "../abstracts/mixins";

// mobile menu --start
.mobile-menu {
  display: none;
  position: relative;
  top: 0.3rem;
  left: 0.4rem;

  // menu items container --start
  &__items {
    width: 60vh;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    position: absolute;
    top: 0rem;
    left: 0rem;
  }
  // menu items container --end
}

// mobile menu --end


@include media-query-lg(750px) {
  .mobile-menu {
    display: inline-block;
  }
}
