@import "../abstracts/mixins";

//navigation --start
.navigation {
  width: 100%;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

  // navigation container --start
  &__container {
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem;
    @include general--flex;
  }
  // navigation container --end

  //naviagtion mini --start
  &__mini {
    @include general--flex;

    //logo --start 
    .logo {
      margin: 0 1.5rem;
    }
    // logo --end 

    // menu items --start 
    .menu__item {
      margin: 0 0.3rem;
      padding-bottom: 1rem;

      &:hover {
        border-bottom: 2px solid $orange;
      }
    }
    // menu items --end 
  }
  // navigation mini --end

  // profile styles --start
  .profile {
    @include general--flex;

    &__picture {
      width: 40px;
      position: relative;
      margin: 0 1.5rem;
      border: 3px solid $orange;
      border-radius: 60%;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 100%;
      }
    }
  }
  // profile styles --end
}
//navigation --end

@include media-query-lg(750px) {
  .navigation {
    &_container {
      width: 100%;
    }

    .menu {
      display: none;
    }
  }
}
